black
nbstripout
-r ./EFEIndexer/requirements.txt
-r ./P1/requirements.txt
-r ./P2/requirements.txt
-r ./P3/requirements.txt
-r ./P4/requirements.txt
-r ./P5/requirements.txt
-r ./P8/requirements.txt
-r ./P9/requirements.txt